<!DOCTYPE html>
<html>
<head>
  <title>Pricebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header" style="height:50px;">
        <nav class="nav nav-masthead">
          <h3 class="text-muted pull-left">PriceBook.</h3>
          <div class="pull-right" style="margin-top:5px;">
          <% if current_user %>
          <%= current_user.name %> &nbsp;&nbsp;
          <%= link_to "Logout", '/logout', class: "nav-link" %>
          <% else %>
          <%= link_to "Home", 'home', class: "nav-link active" %> &nbsp;&nbsp;
          <%= link_to "Login", '/login', class:"nav-link" %> &nbsp;&nbsp;
          <%= link_to "Signup", '/signup', class:"nav-link" %>
          <% end %>
          </div>
        </nav>
      </div>

        <%= yield %>

    </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
  </html>
